@font-face {
  font-family: 'Century Gothic';
  src: url(fonts/century.ttf);
}
body {
	background: #000 url(../img/bg.png) no-repeat fixed;
	background-size:cover;
	font-family: "Century Gothic";
}
.head-top {
	background: -moz-linear-gradient(#060404,#0B1217);
	background: -webkit-linear-gradient(#060404,#0B1217);
	background: linear-gradient(#060404,#0B1217); 
	height: 60px;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid #000;
}
.logo {
	background: url(../img/logo.png) no-repeat;
	width: 100px;
	height: 45px;
	margin: 0 auto;
}
header {
	background: url(../img/header.png) no-repeat;
	background-size: cover;
	width: 100%;
	height: 300px;
	margin: 0 auto;
	border: 1px solid #000;
}
.navbar-default {
	background: -moz-linear-gradient(#0B1217,#060404);
	background: -webkit-linear-gradient#0B1217,#060404);
	background: linear-gradient(#0B1217,#060404); 
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 0;
}
.navbar-toggle {
	border: #000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: 1px solid #000;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #000;
}

nav a, nav a:visited {
	background: -moz-linear-gradient(#0B1217,#060404);
	background: -webkit-linear-gradient#0B1217,#060404);
	background: linear-gradient(#0B1217,#060404); 
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	box-shadow: 1px 0 0 #000;
	margin-left: 1px;
}

nav a:active, nav a:hover {
	text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
    color: rgba(255,255,255,0.9);
}

.col-sep {
	margin: 0;
	padding:5px;
}
.data {
	background: rgba(0,0,0,0.3);
	background: -moz-linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.3));
	background: -webkit-linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.3));
	background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.3)); 
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	border: 1px solid rgba(255,255,255,0.2);

}
.data p{
	width: 100%;
	padding:5px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	text-align: center;
	color: #FFF;
	display: inline-block;
}
.data textarea{
	width: 100%;
	padding:5px;
	background: none;
	text-align: justify;
	color: #FFF;
	display: inline-block;
	border: 0;
	height: 100px;
	resize: none;
}
#button-cont {
	width: 100%;
	text-align: center;
}
#button-cont button{
	width: 50%;
	margin: 10px;
	height: 60px;
	background: -moz-linear-gradient(#0B1217,#060404);
	background: -webkit-linear-gradient#0B1217,#060404);
	background: linear-gradient(#0B1217,#060404); 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgba(255,255,255,0.2);
	color: #FFF;
	font-size: 20px;
}